{% extends "mywebsite/base.html" %}

{% block content %}
<div class="contactuscontent">
    <h1>CONTACT US</h1>
    <div class="contactustext">
        <h2> Alekhya (General Contact Manager)</h2>
        <h2>KPR Silicon Products Private Limited</h2>
        <h2>KPR Silicon Products India Contact Information, Email Address, Main Office Locations including headquarters address, office phone number, customer support helpline number and email id is available here with company bio data, network presence, as well as service locations</h2>
        <h2>Telangana,India - 500081</h2>
        <h2>contact number - 9989674537</h2>
        <h2>Email address - Siliconcompany@gmail.com</h2>
    </div>
</div>
{% endblock  %}
    